name: Workflow
on: 
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  hello-word-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo code
        uses: actions/checkout@v6
      - run: echo "$(cat hello_world.txt)"
    
